*{
  margin: 0;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

body{
  width: 100%;
  height: 100%;
 }

.wrapper {
  height: 100%;
  position: relative;
}

.site-header1 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid;
  z-index: 999;
  top: 0;
  height: 62px;
  width: 100%;
  padding-left: 15px;
  box-sizing: inherit;
}

.top-email1 {
  background-size: contain;
  display: block;
  float: left;
  box-sizing: inherit;
  text-align: top;
  position: absolute;
}

.top-email1 a {
  color: #000000;
  text-align: top;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  float: left;
  font-family: sans-serif;
}

.top-email1 a:hover {
  opacity: 0.5;
}

.topnav1 {
  float: right;
  display: block;
  color: #000000;
  font-size: .7em;
  box-sizing: inherit;
}

.topnav1 a {
  float: left;
  text-transform: uppercase;
  position: relative;
  margin-right: 3em;
  color: #000000;
  letter-spacing: .5px;
  padding: 1em .2em;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  background-color: transparent;
  list-style-type: none;
}

.topnav1 a:hover {
  opacity: 0.5;
}

.footer {
  height: auto;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.bottom-bar {
  height: auto;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  display: block;
}

.bottom-licenses {
  position: relative;
  height: auto;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  opacity: .33;
  vertical-align: center;
}

.bottomnav {
  position: relative;
  font-size: .7em;
  box-sizing: inherit;
  text-align: center;
  display: inline-block;
}

.bottomnav a {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  color: #000000;
  letter-spacing: .5px;
  padding-right: 1em;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  list-style-type: none;
}

.bottomnav a:hover {
  opacity: 0.5;
}

.bottom-contact {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 100px;
  display: block;
}

.bconwestleb {
  float: left;
  width: 33.33%;
  padding: 10px;
  display: block;
}

.bconmanch {
  display: inline-block;
  width: 33.33%;
  padding: 10px;
}

.bconkeene {
  float: right;
  width: 33.33%;
  padding: 10px;
}

.bconwestleb a {
  color: #000000;
  font-size: 12px;
  text-decoration: none;
  font-family: sans-serif;
}

.bconwestleb a:hover {
  opacity: 0.5;
}

.bconmanch a {
  color: #000000;
  font-size: 12px;
  text-decoration: none;
  font-family: sans-serif;
}

.bconmanch a:hover {
  opacity: 0.5;
}

.bconkeene a {
  color: #000000;
  font-size: 12px;
  text-decoration: none;
  font-family: sans-serif;
}

.bconkeene a:hover {
  opacity: 0.5;
}

h5 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  height: auto;
}

h6 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: sans-serif;
  height: auto;
}

.headercontainer {
  position: relative;
  max-width: 40%;
  margin: 0 auto;
  margin-top: 100px;
  height: auto;
}

.headercontainer .header-text {
  position: absolute;  
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 2.5em;
  color: white;
  overflow: hidden;
  margin-bottom: 0px;
}

h7 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "oswald";
  font-size: 4em;
  height: auto;
}

.top-icon {
  opacity: 0.5;
  margin: auto;
  height: auto;
  width: 10%;
}

h8 {
  float: left;
  height: auto;
  text-align: top;
  font-family: serif;
  font-size: 2em;
  color: #000080;
}

.row {
  width: 97%;
  display: block;
  height: auto;
  padding: 3%;
}

.rowtext {
  float: left;
  width: 73.5%;
  height: auto;
}

.rowcontacts {
  float: right;
  width: 23.5%;
  height: auto;
} 

center {
  height: auto;
}
