*{
  margin: 0;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

body{
  width: 100%;
  height: 100%;
 }

.site-header1 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid;
  2-index: 999;
  top: 0;
  height: 62px;
  width: 100%;
  padding-left: 15px;
  box-sizing: inherit;
}

.top-email1 {
  background-size: contain;
  display: block;
  float: left;
  box-sizing: inherit;
  text-align: top;
  position: absolute;
}

.top-email1 a {
  color: #000000;
  text-align: top;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  float: left;
  font-family: sans-serif;
}

.top-email1 a:hover {
  opacity: 0.5;
}

.topnav1 {
  float: right;
  display: block;
  color: #000000;
  font-size: .7em;
  box-sizing: inherit;
}

.topnav1 a {
  float: left;
  text-transform: uppercase;
  position: relative;
  margin-right: 3em;
  color: #000000;
  letter-spacing: .5px;
  padding: 1em .2em;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  background-color: transparent;
  list-style-type: none;
}

.topnav1 a:hover {
  opacity: 0.5;
}

