*{
  margin: 0;
  height: 100%;
 }
 
body{
  width: 100%;
 }
  
.img-container { 
 background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("waterpicture1.jpg");
 height: 70%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 overflow: hidden;
}

.site-header {
  position: absolute;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  2-index: 999;
  top: 0;
  height: 62px;
  width: 100%;
  padding-left: 15px;
  box-sizing: inherit;
}

.top-email {
  background-color: transparent;
  background-size: contain;
  display: block;
  float: left;
  box-sizing: inherit;
  text-align: top;
  position: absolute;
}

.top-email a {
  color: #fff;
  text-align: top;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  float: left;
}

.top-email a:hover {
  opacity: 0.5;
}

.topnav {
  float: right;
  display: block;
  color: #fff;
  font-size: .7em;
  box-sizing: inherit;
}

.topnav a {
  float: left;
  text-transform: uppercase;
  position: relative;
  margin-right: 3em;
  color: #fff;
  letter-spacing: .5px;
  padding: 1em .2em;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  list-style-type: none;
}

.topnav a:hover {
  opacity: 0.5;
}

.inner-container {
  text-align: center;
  position: absolute;
  width: 100%;
  color: white;
  height:auto;
  margin-top: 150px;
 }

 h1 {
   font-size: 1.4em;
   text-transform: uppercase;
   font-family: sans-serif;
   text-align: center;
}

hr {
  width: 37%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: .5px;
  background-color:white;
  opacity: 0.5;
}

h2{
  font-family: "Cinzel", sans-serif;
  font-size: 7em;
  text-align: center;
  font-weight: 400;
}

a{
  margin-top: 20px;
  font-size: 1.3em;
  font-family: "Oswald", sans-serif;
}

.icon{
  opacity: 0.25;
}
